button:hover{
    transform: scale(1.05);
}

.card:hover{
    transform: scale(1.05);
}

#title:hover{
    color: blue;
    cursor: pointer;
}


.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

i:hover {
    color: yellow;
}

i#delete:hover {
    color: red
}

